.friends {
    background-image: linear-gradient(rgb(0, 36, 83), rgb(0, 0, 0));
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 100;
    transform: translateY(70%);
    padding-top: 10px;
    font-family: 'Lexend';
}

.container {
    width: 100%;
    height: 100%;
    transform: translateY(10%);
    display: flex;
    justify-content: center;
}

.tabContainer {
    justify-content: center;
    position: relative;
    border-radius: .5rem;
    width: 60%;
    height: 70%;
    background-color: rgb(248, 248, 248);
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navTab {
    border-bottom: none;
    margin-bottom: 10px;
    border-radius: 2.5rem;
    font-weight: 500;
    color: gray;
}

.navTabContent {
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.listItem {
    line-height: 30px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
}

.listItem:hover {
    background-color: rgba(167, 167, 167, 0.527);
}

.listItemHidden {
    font-size: .7em;
    float: right;
    visibility: hidden;
    transform: translateY(50%);
}

.listItem:hover .listItemHidden{
    visibility: visible;
}

.yourFriends {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Lexend';
}

.profilePic {
    padding-right: 10px;
}

.score {
    padding-left: 7px;
    font-size: .75em;
}