.homepage {
    background-image: linear-gradient(rgb(0, 36, 83), rgb(0, 0, 0));
    height: 100%;
    overflow: auto;
}

.top_tracks {
    padding: 3%;
}

.row {
    justify-content: center;
    text-align: center;
    padding-top: 3%;
    align-items: center;
}

.trackContainer {
    overflow-y: auto;
}

.search {
    background-color: #d3d3d3;
    border: 20px;
    padding-left: 15px;
    border-radius: 40px;
    display: flex; 

    /* "text-black background-grey border-2 border-black px-3 py-1 w-2/3 rounded-full focus:border-blue-500 bg-grey-200" */
}