.container {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    width: 210px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    transform-style: preserve-3d;
    transition: 700ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
    /* --translate-y: -5px; */
    box-shadow: 0 0 7px 7px rgba(241, 251, 255, 0.5);
}

.card.flip {
    transform: rotateY(180deg);
}

.cardFace {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.cardFaceBack {
    transform: rotateY(180deg);
}

.cardGrid {
    display: grid;
    justify-content: center;
    grid-template-areas: 'card card card card card';
    padding: 10%;
    gap: 2.5rem;
}

.matches {
    background-image: linear-gradient(rgb(0, 36, 83), rgb(0, 0, 0));
    height: 100%;
}

.header {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 6.5em;
    font-weight: 900;
    transform: translateY(70%);
    font-family: 'Lexend';
}