.profile {
    background-image: linear-gradient(rgb(0, 36, 83), rgb(0, 0, 0));
    height: 100%;
    overflow: auto;
}

 .container {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%; 
    height: 100%;
    padding: 20px;
    /*position: absolute;*/
}

.content:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .5);
}

.info{
    width: 60%;
}

.title_col {
    background: #d3d3d3;
    font-weight: bold;
    font-size:x-large;
    color:black;
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Lexend';
}

.content_col {
    background: #d3d3d3;
    font-size: larger;
    color:rgb(94, 93, 93);
    padding: 20px;
    width: 60%;
    text-align: left;
    font-family: 'Lexend';
}

.button_col {
    display: flex;
    background: #d3d3d3;
    color:rgb(94, 93, 93);
    width:40%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.profile:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(1, 190, 64, 0.5);
}

.button:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(3, 49, 112, 0.5);
    background-color: #083686; 
}

.button {
    background-color: #083686; 
    color: white; 
    font-size: x-large;
    font-family: 'Lexend';
    border-radius: 5px;
    padding: 10px;
    border-color: #083686;
}

.logoutbutton {
    background-color: #083686; 
    color: white; 
    font-size: x-large;
    font-family: 'Lexend';
    border-radius: 5px;
    padding: 10px;
    border-color: #083686;
    width:20%;
}

.row {
    margin-bottom: 30px;
    margin-top: 60px;
    color: white;
    font-weight: 500;
    font-family: 'Lexend';
    justify-content: center;
}
