 .container {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%; /* Adjust the width as needed */
    height: 100%;
    padding: 10px;
    background-color: white;
    /*position: absolute;*/
}

.content:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, .5);
}

.info{
    width: 60%;
}

.title_col {
    background: #d3d3d3;
    font-weight: bold;
    font-size:x-large;
    color:black;
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.content_col {
    background: #d3d3d3;
    font-size: larger;
    color:rgb(94, 93, 93);
    padding: 20px;
    width: 60%;
    text-align: left;
}

.button_col {
    background: #d3d3d3;
    color:rgb(94, 93, 93);
    width:40%;
    padding: 20px;
}

.button_col:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(1, 190, 64, 0.5);
}

.greenButton:hover {
    --translate-y: -5px;
    box-shadow: 0 0 5px 3px rgba(1, 190, 64, 0.5);
}

.greenButton {
    background-color: #1ed760; /* Green background color */
    color: white; /* White text color, adjust as needed */
    font-size: xx-large;
  }

.row {
    margin-bottom: 30px;
    margin-top: 30px;
    color: black
}